<div class="jumbotron">
    <img src="/Content/images/maiya.png" class="pull-left"/>
    <h1>Welcome to Tiny CMS</h1>
    <h2>Simples brand content management system</h2>
    Make sure you make no mistakes or the pups in Meerkovo will be very disappointed.
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Home</h3>
                <p><a href="#home" class="btn btn-default btn-block btn-lg" role="button">Home Brands</a></p>
            </div>
        </div>
    </div>
</div>